*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul,ol{list-style: none;}
#bc{background-color: #E7E7E7;width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;z-index: -1;}
#wrap{overflow: hidden;position: relative;}

@keyframes slide{
    0%{transform: translate(-100%);}
    26.666666666666668%{transform: translate(-100%);}
    33.333333333333336%{transform: translate(0);}
    60%{transform: translate(0);}
    66.66666666666667%{transform: translate(100%);}
    100%{transform: translate(100%);}
}

@keyframes slide_btn{
    0%{background-color: #eee;width: 20px;border-radius: 100%;}
    26.666666666666668%{background-color: #eee;width: 20px;border-radius: 100%;}
    33.333333333333336%{background-color: #FEC100;width: 50px;border-radius: 20px;}
    60%{background-color: #FEC100;width: 50px;border-radius: 20px;}
    66.66666666666667%{background-color: #eee;width: 20px;border-radius: 100%;}
    100%{background-color: #eee;width: 20px;border-radius: 100%;}
}

header{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 190px;
    top: 0;
    position: fixed;
    background-color: #FdFdFd;
    z-index: 100000000;
    border-bottom:1px solid #ddd;
}

#header_top{
    position: relative;
    display: grid;
    width: 100vw;
    height: 50px;
    background-color: #0D4E7C;
}

#banner{
    width: 250px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 10px 20px;
    border-radius: 10px;
}

.banner_slide_img{width: 250px;}
.banner_slide{position: absolute;top: 0;}
.banner_slide_word{
    position: absolute;
    top: 40px;
    left: 10px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    z-index: 20px;
}

#banner_slide1 > .banner_slide_word{color: #fff;}
#banner_slide1{animation: slide 15s infinite; animation-delay: -5s;}
#banner_slide2{animation: slide 15s infinite; animation-delay: 0s;}
#banner_slide3{animation: slide 15s infinite; animation-delay: -10s;}
#logo{padding-left: 10px; margin: 20px 50px;}

/* search */

#search{
    position: absolute;
    left: 10px;
    margin: 5px auto;
    width: 300px;
    height:40px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 5px;
}

#search_label{height: 35px;margin: 2.5px;padding-left: 10px;}
#search_icon{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 40px;
    margin-top: calc(10px / 2);
}

#search_input{
    width: 95%;
    height: 100%;
    font-size: 14px;
    border: none;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
}

/* user_box */

#user_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 200px;
    height: 30px;
    border: 3px solid #fff;
    color:#fff;
    border-radius: 10px;
    margin: 7px 20px;
    overflow: hidden;
    position: absolute;
    right: 20px;
}

.user_box_btn{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
    cursor: pointer;
    border: none;
    color: #fff;
}

.user_box_btn:first-child > p{border-right: 1px solid #fff;}
.user_box_btn:hover{color: #000;background-color: #fff;}

@media(max-width:480px){
    header{height: 70px; grid-template-rows: 1fr;border: none;}
    #header_top{height: 70px;}
    #logo{
        position: absolute;
        top: 70px;
        z-index: 20;
        width: 300px;
        height: 100px;
        left: -300px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        transition: 0.3s all;
    }

    #logo > img{height: 100px;}

    #search{
        width: 380px;
        left: calc(50vw - 160px);
        height: 50px;
        margin: 10px auto;
    }

    #user_box{
        bottom: -77vh;
        left: -300px;
        z-index: 10000000000000;
        transition: 0.3s all;
    }

    #search_icon{width: 30px;margin: 10px;}
}

/* header - bottom */

#header_bottom{
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

#nav_top{
    width: 80%;
    height: 45px;
    margin: 55px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
    background-color: #fefefe;
}

.nav_top_ul{
    position: relative;
    cursor: pointer;
    transition: 0.3s all;
    overflow: hidden;
}
.nav_top_ul:hover{color: #fff;background-color: #444;}
#nav_left{
    position: absolute;
    top: 190px;
    padding: 20px 0;
    width: 300px;
    height: 80vh;
    background-color: #444;
}

.nav_left_ul{
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s all;
}

.nav_left_ul:hover{background-color: #333;}

.nav_left_ul_icon{
    width: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.nav_left_ul:hover .nav_left_ul_sub{height: 120px;}

.nav_left_ul_sub{
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.3s all;
}

.nav_left_ul_sub_li{
    padding: 5px 0;
    padding-left: 40px;
    transition: 0.3s all;
}

.nav_left_ul_sub_li:hover{background-color: #222;}
.nav_left_ul_sub_li:first-child{margin-top: 20px;}
#nav_top_open_btn{
    display: none;
    width: 50px;
    height: 50px;
    float: right;
    margin: 20px 0;
    margin-left: 57%;
    cursor: pointer;
}

.nav_top_open_bar{
    width: 80%;
    height: 5px;
    background-color: #444;
    border-radius: 3px;
    margin-top: 9px;
}

#nav_top_open{display: none;position: absolute;top: -100000000vw;}
@media(max-width:480px){
    .nav_left_menus{
        overflow: auto;
        height: 360px;
        margin-top: 290px;
    }
    #nav_top_open{display: block;}
    #nav_top_open_btn{
        display: block;
        position: absolute;
        margin: 10px 10px;
    }
    .nav_top_open_bar{background-color: #fff;transition: 0.3s all;position: absolute;top: 0;left: 0;}
    .nav_top_open_bar:nth-child(2){top: 13px;}
    .nav_top_open_bar:last-child{top: 26px;}
    #header_bottom{height: 0;}
    #nav_top{
        width: 300px;
        height: 200px;
        position: absolute;
        top: 170px;
        left: -300px;
        z-index: 20;
        border: none;
        margin: 0;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
        overflow: hidden;
        transition: 0.3s all;
        background-color: #eee;
    }

    #nav_left{
        left: -300px;
        transition: 0.3s all;
        top: 70px;
        height: calc(100vh - 70px);
    }

    #banner{
        position: absolute;
        bottom:-92vh;
        z-index: 10000000000000000000;
        left: -300px;
        transition: 0.3s all;
    }

    #nav_top_open:checked ~ #header_bottom > #nav_top_open_btn > .nav_top_open_bar:first-child{transform: rotate(45deg);top: 13px;}
    #nav_top_open:checked ~ #header_bottom > #nav_top_open_btn > .nav_top_open_bar:nth-child(2){width: 5px; left: calc(40% - 2.5px);}
    #nav_top_open:checked ~ #header_bottom > #nav_top_open_btn > .nav_top_open_bar:last-child{transform: rotate(-45deg); top: 13px;}
    #nav_top_open:checked ~ #nav_left{left: 0;}
    #nav_top_open:checked ~ #header_bottom > #banner{left: 0;}
    #nav_top_open:checked ~ #header_top > #user_box{left: 0;}
    #nav_top_open:checked ~ #header_bottom > #logo{left: 0;}
    #nav_top_open:checked ~ #header_bottom > #nav_top{left: 0;}
}

/* visual */
#visual{
    width: calc(100vw - 380px);
    height: 500px;
    overflow: hidden;
    float: right;
    margin: 50px 50px;
    margin-top: 250px;
    position: relative;
}

.visual_slider{position: absolute;width: 100%;}
.visual_slide_img{width: 100%;z-index: 1;}
#visual_slide_now{position:absolute;bottom: -10px;height: 50px; z-index: 100;left: 35vw; width: 240px;}
.visual_slide_btn{width: 20px;height: 20px; border: none;background-color: #aaa;border-radius: 100%; margin: 0 20px;}
#visual_box1{animation: slide 15s infinite; animation-delay: -5s;}
#visual_box2{animation: slide 15s infinite; animation-delay: 0s;}
#visual_box3{animation: slide 15s infinite; animation-delay: -10s;}
.visual_slide_btn:first-child{animation: slide_btn 15s infinite; animation-delay: -5s;}
.visual_slide_btn:nth-child(2){animation: slide_btn 15s infinite; animation-delay: 0;}
.visual_slide_btn:last-child{animation: slide_btn 15s infinite; animation-delay: -10s;}
#visual_slide_text_area{color: #fff;background-color: rgba(0, 0, 0, 0.3);width: 100%;height: 100%;z-index: 10;position: absolute;}
#visual_slide_text_area > p:first-child{font-size: 40px; border-top: 5px solid #fff; border-bottom: 5px solid #fff; width: 70%; text-align: center; margin: 30px auto; margin-top: 70px;padding: 5px;}
#visual_slide_text_area > p:nth-child(2){font-size: 25px; margin: 40px 0;text-align: center;}
#visual_slide_text_area > p:last-child{font-size: 15px; margin: 4px auto; width: 60%; line-height: 30px;}

@media(max-width:480px){
    #visual{
        width: 100%;
        height: 300px;
        margin: 0;
        margin-top: 70px;
    }

    .visual_slide_img{height: 300px;}

    #visual_slide_text_area > p:first-child{
        border: none;
        font-size: 26px;
        margin: 20px auto;
        text-align: left;
        font-weight: bold;
    }

    #visual_slide_text_area > p:nth-child(2){
        font-size: 17px;
        color: #eee;
        margin: 7px 0;
        font-weight: bold;
    }

    #visual_slide_text_area > p:last-child{
        color: #eee;
        font-size: 13px;
        width: 80%;
        line-height: 17px;
        text-align: center;
    }

    #visual_slide_now{
        left:calc(50% - 120px);
        bottom: -15px;
    }
}

/* content */
#content{
    width: calc(100vw - 420px);
    padding: 20px;
    float: right;
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 300px;
}

@media(max-width:480px){
    #content{
        width: 95vw;
        margin: 300px auto;
        margin-top: 380px;
        display: block;
        float: none;
        padding: 0;
    }
}

/* top class */

#top_class{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    grid-column: 1/3;
}

#top_classTitle{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    background-color: #333;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#top_classBox{
    width: 98%;
    height: 650px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);

}

.top_class_contentBox:first-child{
    grid-row: 1/3;
    grid-column: 1/3;
    height: 95%;
    width: 95%;
    margin: 10px 2.5%;
}

.top_class_contentBox:first-child > .top_class_contentInfo{
    font-size: 20px;
    line-height: 30px;
}

.top_class_contentBox:first-child > .top_class_contentTitle{font-size: 25px;}
.top_class_contentBox:first-child > .top_class_contentTitle > .Topcontent_people{font-size: 20px;}
.top_class_contentBox{
    border:2px solid #eee;
    border-radius: 0px;
    width: 95%;
    margin: 10px 2.5%;
    overflow: hidden;
    position: relative;
}

.top_class_contentimg{width: 100%;}

.top_class_contentNum{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: #FFC100;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    border-bottom-right-radius: 5px;
    z-index: 10;
}

.top_class_contentTitle{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding:10px 5px;
    width: calc(100% - 10px);
    height: calc(40% - 20px);
    font-size: 15px;
    z-index: 10;
}
.Topcontent_text_title{display: block;padding-bottom: 20px;}
.Topcontent_people{
    font-size: 13px;
    color: #666;
    float: left;
}

.Topcontent_madeyear{
    font-size: 11px;
    color: #aaa;
    float: right;
}

.top_class_contentInfo{
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.3);
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top_classContent_more{
    border-radius: 0px;
    width: 95%;
    margin: 10px 2.5%;
    overflow: hidden;
    position: relative;
    background-color: #346789;
}

.Topcontent_moreTitle{
    width: 70%;
    color: #fff;
    font-size: 20px;
     margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid #fff;
}

.top_classMorebtn{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 40px;
    left: calc(50% - 30px);
    border: 3px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.top_classMorebtnarrow{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transform: rotate(-45deg);
    border-bottom: 5px solid #aaa;
    border-right: 5px solid #eee;
}

#content_right{
    display: grid;
    grid-template-rows: 2fr 3fr;
    height: 800px;
}


@media(max-width:480px){
    #top_class{padding-bottom: 30px;position: relative;}
    #top_classTitle{width: 70%;}
    #top_classBox{
        grid-template-columns: repeat(2,1fr);
        height: 700px;
        margin-bottom: 30px;
    }
    
    .top_classContent_more{
        position: absolute;
        width: 150px;
        height: 40px;
        bottom: 5px;
        right: 5px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .Topcontent_moreTitle{
        margin: 0;
        font-size: 15px;
        border: none;
    }

    .top_classMorebtn{
        left: 70%;
        bottom: 5px;
        border: none;
        width: 30px;
        height: 30px;
    }

    .top_classMorebtnarrow{width: 10px; height: 10px;}

    .top_class_contentBox:first-child > .top_class_contentTitle > .Topcontent_text_title{font-size: 22px;}
    .top_class_contentBox:first-child > .top_class_contentTitle > .Topcontent_people{
        font-size: 15px;
    }

    .top_class_contentNum{
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    .top_class_contentTitle{
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        height: calc(40% - 50px);
        padding: 25px 10px;
        transition: 0.3s all;
        width: calc(100%-20px);
    }

    .Topcontent_text_title{padding-bottom: 40px; font-size: 13px;}

    .top_class_contentTitle:hover{height: calc(100% - 40px);}
    .top_class_contentimg{height: 100%;}
    .Topcontent_madeyear{float: left; padding-top: 10px;}
}

/* all diff */

@media(max-width:480px){
    #content_right{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        height: 380px;
    }
}

#all_diff{
    width: 80%;
    height: 300px;
    background-color:#2783C1;
    color: #fff;
    border-radius: 5px;
    margin: 0 50px;
}

#all_diffTitle{
    padding: 15px;
    margin: 10px;
    margin-left: 20px;
    width: 40px;
    overflow: visible;
    white-space: nowrap;
    border-bottom: 3px solid #fff;
}

#all_diffContent{
    list-style-type: decimal;
    margin: 10px 30px;
    margin-left: 70px;
}

.all_diffText{padding: 10px 3px;font-size: 20px;}

@media(max-width:480px){
    #all_diff{
        width: 97%;
        height: 350px;
        margin: 20px 0;
    }

    #all_diffTitle{
        width: 80%;
        margin: 10px auto;
        padding: 20px 0;
        font-size: 22px;
        text-align: center;
    }

    #all_diffContent{
        width: 85%;
        padding: 10px;
        margin: 10px auto;
    }

    .all_diffText{
        width: 80%;
        margin: 20px auto;
        font-size: 17px;
        padding: 0;
    }
}

/* all recommend */

#all_recommend{
    width: 80%;
    height: 95%;
    margin: 0 auto;
    margin-top: 5%;
    background-color:#FCFCFC;
    border-radius: 5px;
}

#all_recommendTitle{
    text-align: center;
    color: #444;
    padding: 40px 0;
    padding-bottom: 20px;
}

#all_recommendContent{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.all_recommendBox{
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px 0;
    margin: 10px;
    font-size: 15px;
}

.all_recommendBox_img{height: 40px;padding-left: 20px;}
.all_recommendBox:nth-child(2) > .all_recommendBox_img{width: 40px;height: 30px;}

@media(max-width:480px){
    #all_recommend{
        width: 100%;
        height: 350px;
        margin: 20px 0;
    }
    #all_recommendTitle{
        width: 70%;
        margin: 5px auto;
        padding: 6px 0;
        font-size:22px;
        text-align:center;
    }

    #all_recommendContent{
        width: 100%;
        margin: 0;
    }

    .all_recommendBox{
        border: none;
        padding: 15px 5px;
        margin: 0;
        font-size: 14px;
        background-color: #f5f5f5;
    }

    .all_recommendBox:nth-child(2){background-color: #f0f0f0;}
    .all_recommendBox:last-child{background-color:#ddd;}
    .all_recommendBox_img{padding: 10px;}
}

/* all processing */
#all_processing{
    width: 90%;
    padding: 25px 3.5%;
    height: 500px;
    background-color: #444;
    color: #fff;
    margin: 30px 0;
    border-radius: 5px;
    grid-column: 1/4;
    text-align: center;
}

#all_processingBox{
    width: 100%;
    height: 98%;
    margin:0  auto;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

#all_processingTitle{
    font-size: 35px;
    margin: 30px 0;
}

#all_processingInfo{
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 35px;
}

#all_processingInfo > span{font-size: 18px;}
#all_processingContent{
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
}
.all_processingCBox{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
}

.all_processingCBox_img{
    height: 270px;
    position: absolute;
    right: 0px;
}

.all_processingCarrow{
    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    border-bottom: 10px solid #fff;
    border-right: 10px solid #fff;
    margin-top: 105px;
}

@media(max-width:480px){
    #all_processing{width: 93%; height: 700px;}

    #all_processingTitle{
        font-size: 30px;
        margin: 30px 0;
        margin-bottom: 10px;
    }

    #all_processingInfo{
        margin-bottom: 40px;
        font-size: 15px;
        text-align: left;
    }

    #all_processingInfo > span{
        font-size: 18px;
        font-weight: bold;
        color: #eee;
    }

    #all_processingContent{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr auto 1fr;
        margin: 0 auto;
    }

    .all_processingCBox{
        width: 300px;
        height: 100px;
        border-radius: 10px;
        margin: 0 40px;
    }

    .all_processingCBox_img{width: 100%;height: auto;}
    .all_processingCarrow{
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        margin:20px auto;
    }

}

/* notice box - base */

.notice_box{width: 90%;margin-right: 5%;color: #fff;border-radius: 5px;}
.notice_box_title{padding: 20px; font-size: 25px;}
.notice_box_content{width: 90%;margin: 10px auto;border-top: 5px solid #fff; border-bottom: 5px solid #fff; margin-bottom: 20px;}
.notice_box_content > p{padding: 10px;}

/* inquiry */
#inquiry{background-color: #30CBC9;}
#inquiry_content > p{padding: 10px;}

/* partnership */
#partnership{background-color: #3F92C1;}
#partnership_title{padding-bottom: 0px;}
#partnership_info{font-size: 15px;padding-left: 20px;}

/* notice */
#notice{background-color: #1F76CC;}
#notice_content > p{padding: 10px 0; margin: 0 10px; border-bottom: 2px solid #fff;}
#notice_content > p:last-child{border-bottom: none;}
@media(max-width:480px){.notice_box{width: calc(100% - 20px);margin: 10px 0;padding: 10px;}}

/* review */
#review{
    width: 97%;
    grid-column: 1/4;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
}

#review_title{
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

#review_content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.review_contentBox{
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 10px #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.review_contentBox:hover{transform: scale(1.05);}

.review_content_title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display:inline-block;
    width: 50%;
}

.review_content_score{float: right;}

.review_content_info{
    padding-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
    color: #666;
}

@media(max-width:480px){
    #review{width: 100%;grid-column: none; padding: 20px 0;}
    #review_content{grid-template-columns: none;grid-template-rows: repeat(4,auto);}
    .review_content_img{width: 20px;}
    .review_contentBox{position: relative; overflow: hidden; height: 30px;}
    .review_content_score{position: absolute; top: 20px; right: 10px;}
    .review_contentBox:hover{transform: scale(1);height: 100px;}
}

/* footer */
footer{
    width: calc(100vw - 280px);
    background-color: #eee;
    position: absolute;
    right: 0;
    bottom: 0;
}

#footer_top{color: #fff;background-color: #888;}

#footer_top_content{
    width: 50%;
    height: 70px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
}

.footer_top_text{cursor: pointer;transition: 0.3s all;}
.footer_top_text:hover{background-color: #333;}

#footer_center{
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer_center_text_area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    box-shadow: 3px 3px 5px #aaa;
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.footer_center_area{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    line-height: 35px;
}

#footer_center_text_right_area{
    grid-template-rows: repeat(3,1fr);
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    line-height: 35px;
}

#footer_copyright{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #aaa;
    text-align: center;
    line-height: 40px;
}

@media(max-width:480px){
    footer{width: 100vw;}
    #footer_top_content{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
    }
    #footer_center{
        width: 95%;
        box-shadow: 3px 3px 4px #aaa;
        background-color: #fff;
        border-radius: 5px;
        font-size: 13px;
    }
    #footer_center_text_area{
        grid-template-columns: none;
        padding: 10px;
        box-shadow: none;
        background-color: #888;
        color: #fff;
        border-radius: 0px;
    }
    .footer_center_area{line-height: 20px; display: block;}
    #footer_center_text_right_area{line-height: 20px;padding: 10px;}

}